@charset "UTF-8";
.page-header {
  width: 100%;
  background-color: white;
}
@media screen and (max-width: 1280px) {
  .page-header {
    background-color: #918F89;
  }
}
.page-header .page-header__nav-text--link, .page-header .page-header__nav-text {
  font: normal normal normal 16px/22px Noto Sans;
  color: #3B3B3B;
  list-style-type: none;
}
.page-header__wrapper {
  padding: 16px 0;
  margin: auto;
  width: 92.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 1280px) {
  .page-header__wrapper {
    justify-content: center;
  }
}
.page-header__logo--img {
  height: 24px;
}
.page-header__nav {
  width: 45%;
}
@media screen and (max-width: 1280px) {
  .page-header__nav {
    display: none;
  }
}
.page-header__nav-list {
  display: flex;
  justify-content: space-between;
}
.page-header__nav-text--link {
  opacity: 0.7;
  text-decoration: none;
}

.page-footer {
  width: 100%;
  background-color: #918F89;
}
.page-footer .page-footer__nav-text--link, .page-footer .page-footer__nav-text {
  font: normal normal normal 18px/24px Noto Sans;
  color: #FFF;
  list-style-type: none;
}
.page-footer__wrapper {
  padding: 120px 0 39px;
  margin: auto;
  width: 82.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 1280px) {
  .page-footer__wrapper {
    justify-content: center;
  }
}
.page-footer__logo --img {
  height: 40px;
}
@media screen and (max-width: 1280px) {
  .page-footer__logo --img {
    height: 32px;
  }
}
.page-footer__nav {
  width: 50%;
}
@media screen and (max-width: 1280px) {
  .page-footer__nav {
    display: none;
  }
}
.page-footer__nav-list {
  display: flex;
  justify-content: space-between;
}
.page-footer__nav-text--link {
  text-decoration: none;
}
.page-footer__copyright {
  color: #FFF;
  text-align: center;
  padding: 41px 0 24px;
}

.concept {
  width: 100%;
}
.concept__main-visual {
  background: url("../img/home_top@2x.png") no-repeat center center;
  background-size: cover;
  object-fit: cover;
  height: 744px;
}
@media screen and (max-width: 1280px) {
  .concept__main-visual {
    height: 800px;
  }
}
.concept__main-visual--wrapper {
  width: fit-content;
  position: relative;
  top: 40%;
}
.concept__main-visual--header {
  display: inline;
  text-align: left;
  font-size: 53px;
  line-height: 73px;
  font-weight: normal;
  font-family: Noto Sans;
  letter-spacing: 2.65px;
  color: #918f89;
}
@media screen and (max-width: 1280px) {
  .concept__main-visual--header {
    font-size: 39px;
    line-height: 37px;
    letter-spacing: 1.95px;
  }
}
.concept__main-visual--br {
  display: inline-block;
  background-color: #fff;
  opacity: 0.8;
  padding: 16px;
  margin-bottom: 16px;
}
.concept__detail-wrapper {
  display: flex;
  flex-direction: row;
  padding: 80px 0px;
  margin: auto;
  width: 95%;
  height: 720px;
}
@media screen and (max-width: 1280px) {
  .concept__detail-wrapper {
    flex-direction: column-reverse;
  }
}
.concept .concept__detail--text, .concept .concept__detail--header, .concept .concept__detail {
  text-align: left;
  color: #3b3b3b;
  font-weight: normal;
}
@media screen and (max-width: 1280px) {
  .concept .concept__detail--text, .concept .concept__detail--header, .concept .concept__detail {
    text-align: center;
  }
}
.concept__detail {
  padding: 240px 28px 90px;
}
@media screen and (max-width: 1280px) {
  .concept__detail {
    padding: 0 8.5px 24px;
  }
}
.concept__detail--header {
  font-size: 25px;
  line-height: 53px;
  font-family: Noto Sans;
  letter-spacing: 2.5px;
  padding-bottom: 70px;
}
@media screen and (max-width: 1280px) {
  .concept__detail--header {
    font-size: 21px;
    line-height: 53px;
    letter-spacing: 2.1px;
    padding: 0 0 32px;
  }
}
.concept__detail--text {
  font-size: 12px;
  line-height: 30px;
  font-family: Noto Sans;
  letter-spacing: 0.36px;
}
.concept__detail--sp-br {
  display: none;
}
@media screen and (max-width: 1280px) {
  .concept__detail--sp-br {
    display: inline;
  }
}
.concept__sub-visual {
  background: url("../img/concept.png") no-repeat center center;
  background-size: cover;
  object-fit: cover;
  margin: 0 28px;
  padding-left: 50%;
  height: 560px;
}
@media screen and (max-width: 1280px) {
  .concept__sub-visual {
    background-size: contain;
    height: 264px;
    margin: 0 24px;
  }
}

.top {
  width: 100%;
}
.top .top__chach--contact, .top .top__chach--recruit, .top .top__chach--news, .top .top__chach {
  background-size: cover;
  padding-top: 38%;
  min-height: 456px;
  box-sizing: border-box;
}
.top__chach--news {
  background: url("../img/news_top@2x.png") no-repeat center center;
}
.top__chach--recruit {
  background: url("../img/recruit_top@2x.png") no-repeat center center;
}
.top__chach--contact {
  background: url("../img/contact_top@2x.png") no-repeat center center;
}
.top .top__header--contact, .top .top__header--recruit, .top .top__header--news, .top .top__header {
  position: absolute;
  top: 35%;
  left: 15%;
  text-align: left;
  font-size: 30px;
  line-height: 53px;
  font-weight: normal;
  font-family: Noto Sans;
  letter-spacing: 3px;
}
.top__header--news {
  color: #918F89;
}
.top__header--recruit {
  color: #918F89;
}
.top__header--contact {
  color: #FCFCFC;
}

.section {
  color: #3b3b3b;
  text-align: center;
  padding: 160px 0 80px;
}
.section__header {
  font-size: 24px;
  line-height: 33px;
  font-family: Noto Sans;
  font-weight: normal;
  letter-spacing: 2.4px;
  padding-bottom: 48px;
}
.section__text {
  font-size: 15px;
  line-height: 30px;
  font-family: Noto Sans;
  font-weight: normal;
  letter-spacing: 0.45px;
  padding-bottom: 40px;
}
.section__link {
  color: #3b3b3b;
  font-size: 18px;
  line-height: 45px;
  font-family: Noto Sans;
  font-weight: normal;
  letter-spacing: 0.9px;
  opacity: 0.3;
  text-decoration: none;
}
.section__link::after {
  content: ">";
  font-size: small;
  position: relative;
  top: -2px;
  left: 6px;
}
.section__btn {
  background: #d1d1d1 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  font-family: Noto Sans;
  letter-spacing: 1.8px;
  color: #707070;
  padding: 18px 64px;
}

.contact {
  font-family: Noto Sans;
}
.contact__form-field {
  padding: 0 0 24px;
}
.contact__form-input {
  width: 38%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 16px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.6px;
  padding: 10px 16px;
}
.contact__form-input::placeholder {
  opacity: 0.4;
}
.contact__form-btn {
  background: #d1d1d1 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 16px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #707070;
  padding: 7px 60px;
}

.recruit {
  font-family: Noto Sans;
}
.recruit__table {
  width: 640px;
  margin: 0 auto;
  border: 1px solid #707070;
  border-collapse: collapse;
  border-radius: 4px;
}
.recruit__table-row {
  border: 1px solid #707070;
}
.recruit__table-header {
  border: 1px solid #707070;
  background-color: rgba(145, 143, 137, 0.3);
  width: 22.5%;
  text-align: center;
  font: normal normal normal 16px/22px Noto Sans;
  color: #3B3B3B;
}
.recruit__table-data {
  text-align: left;
  border: 1px solid #707070;
  padding: 16px 48px;
}
.recruit__table-data--header {
  font: normal normal normal 16px/24px Noto Sans;
  padding-bottom: 8px;
  color: #3B3B3B;
}
.recruit__table-data--text {
  font: normal normal normal 14px/21px Noto Sans;
  color: #3B3B3B;
}
.recruit__table-list {
  list-style-type: "・";
  padding-left: 20px;
}

.news__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 32px 32px;
}
.news__image-wrapper {
  position: relative;
  background-color: #000;
  margin: 0 32px;
}
.news__image {
  height: 320px;
  width: 320px;
  opacity: 0.6;
}
.news__message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 17px;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
