@charset "utf-8";

/* 共通部分 
----------------------*/
html{
  font-size: 100%;
  background-color: white;
}

body{
  /* font-family: ; */
  line-height: 1.7;
  color: black ;

}
a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

.wrapper{
  margin: 0 auto;
  max-width: 1440px;
}

.share-button,
.share-button ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.share-button span{
  font-size: 0.75rem;
}

.share-button li{
  list-style-type: none;
  padding: 4px;
}

.share-button img{
  width: 20px;
  height: 20px;
}

/* ボタン */
.button{
  display: block;
  background-color: blue;
  color: white;
  text-align: center;
  width: 300px;
  height: 56px;
  margin: 56px auto;
  padding: 4px;
}
.button:hover{
  opacity: 0.5;
}
.button img{
  width:1rem;
  height:1rem;
  margin-left: 10px;
}


/* HEADER 
------------------------*/

/* page-header */
.page-header{
  margin: 12px 0 16px 16px;
}
.page-header,
.page-header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header div{
  min-width: 20%;
  margin-right: 10%;
}
/* main-nav */
.main-nav li{
  font-weight: bold;
  list-style-type: none;
}
.main-nav li:hover{
  color: blue;
  border-bottom:2px  blue solid;
}

/* sub-nav */
.sub-nav{
  min-width: 112px;
}
.sub-nav li{
  list-style: none;
  margin-left:5px;
}
.sub-nav img{
  width: 36px;
  height:32px;
}
.sub-nav img:hover{
  opacity: 0.5;
}

/* MAIN
-------------------------*/

/* breadcrumb */
.breadcrumb{
  font-size: 0.5rem;
  color: gray;
}

/* page-title */
/* .page-title{} */
.page-title p h1{
  color: white;
}

/* main-content */
.main-content{
  margin: 0 auto;
  max-width:600px;
}
.main-content h2:before{
  content: url(../images/square.png)

}
.main-content img{
  size: cover;
}



/* sub-content */
.sub-content{
  background-color: turquoise;
  padding: 16px;
}
.sub-content ul{
  display: grid;
  gap: 8px;
}
.sub-content li{
  border: 1px gray solid;
  background-color: white;
}

/* sub-menu */
.sub-menu{
  border-top:2px black solid;
}
.sub-menu h2 ul{
  border-bottom:1px gray solid;
}


/* FOOTER 
-------------------------*/

/* follow */
.follow{
  border-top:2px black solid;
  border-bottom:2px black solid ;
}
.follow img{
  width: 36px;
  height: 36px;
}

/* sitemap */
.sitemap{
  display: grid;
  
}

/* privacy */
.privacy{
  display: flex;
  flex-direction: row;
}
.privacy li{
  border-right: 1px gray solid;
}
.privacy ul{
  border: none;
}


@media(max-width:600px){
  .main-nav{
    display: none;
  }
}