@charset "utf-8";

/* 共通部分 
----------------------*/
html{
  font-size: 100%;
  background-color: white;
}

body{
  line-height: 1.85;
  color: black ;

}
a{
  text-decoration: none;
  color: black;
}
a:active{
  color: black;
}
a:focus{
  outline: none;
}

img{
  max-width: 100%;
}

.main-wrapper{
  margin: 0 auto;
  max-width: 624px;
}
.share-button,
.share-button ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.share-button span{
  font-size: 0.7rem;
}

.share-button li{
  list-style-type: none;
  padding: 20px 8px;
}

.share-button img{
  width: 24px;
  height: 24px;
}

/* ボタン */
.button{
  display: block;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  width: 400px;
  height: 64px;
  margin: 56px auto;
  padding: 4px;
}
.button img{
  width:1rem;
  height:1rem;
  margin-left: 10px;
}

/* pagenation */
.pagenation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 40px auto;
}

/*:マーカー（">"）設定 */
.before a:before{
  content: ">　";
  font-size: 0.5rem;
}
/* マウスオーバー時のフェード設定 */
.fade .button:hover,
.fade li:hover{
  opacity: 0.7;
	transition: opacity 0.3s ease;
}
/* マウスオーバー時に下線を表示 */
.hover-underline a:hover{
 text-decoration: underline; 
}


/* HEADER 
------------------------*/

/* page-header */
.page-header{
  padding: 8px 20px 16px 20px;
  width: 100%;
  background-color: white;
  position: fixed;
}
.page-header,
.page-header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header div{
  min-width: 12%;
  margin-right: 8%;
}
/* main-nav */
.main-nav li{
  font-weight: bold;
  list-style-type: none;
  font-size: 0.8rem;
  margin:auto 10px ;
  align-items: center;
}
.main-nav li:hover{
  color: blue;
  border-bottom:2px  blue solid;
}
.main-nav a:before{
  content:none;
}

/* sub-nav */
.sub-nav{
  min-width: 112px;
}
.sub-nav li{
  list-style: none;
  margin:0 5px;
  vertical-align: middle;
  padding-top: 8px;
}
.sub-nav img{
  width: 40px;
  height:28px;
}

/* MAIN
-------------------------*/
main li{
  list-style-type: none;
}
main a{
  color:cornflowerblue;
}

/* breadcrumb */
.breadcrumb{
  margin-left: 5%;
  padding-top: 100px;
}

.breadcrumb,
.breadcrumb a{
  display: flex;
  flex-direction: row;
  font-size: 0.625rem;
  color: gray;
}

/* page-title */
.page-title{
  max-width: 100%;
  height: 240px;
  background-image: url(../images/h1_whats_2.jpg);
  background-size: cover;
  margin: 10px 0;
  padding: 28px 0 0 6%;
}
.page-title h1{
  font-size: 1.5rem;
}
.page-title p,
.page-title h1{
  color: white;
}

/* main-content */
.main-content{
  margin: 0 auto;
  max-width:850px;
}
.main-content h2{
  background-image: url(../images/square.png);
  background-size:30px ;
  padding-left:40px ;
  margin:10px 0 ;  
}
.main-content p{
  margin: 10px 0;
  font-size: 1rem;
}
/* sub-content */
.sub-content{
  background-color: rgb(206, 226, 250);
  padding: 16px;
}
.sub-content ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:repeat(2,1fr);
  gap: 8px;
}
.sub-content li{
  border: 1px gray solid;
  background-color: white;
  text-align: center;
  padding:16px 20px
}
.sub-content li a{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sub-menu */
.sub-menu{
  border-top:2px black solid;
  padding-bottom: 36px;
  max-width: 960px;
  margin: 0 auto;
}
.sub-menu h2{
  padding: 24px 0;
  border-bottom: 1px gray solid;
}
.sub-menu div{
  border-bottom:1px gray solid;
  margin-top: 32px;
}
.sub-menu ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.sub-menu li{
  margin:10px;
  padding:10px;
}

/* FOOTER 
-------------------------*/
footer{
  padding-bottom: 56px;
}

/* follow */
.follow{
  border-top:2px black solid;
  border-bottom:2px black solid ;
  padding:16px;
}
.follow span{
  font-weight: bold;
}
.follow,
.follow ul{
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.follow li{
  list-style-type: none;
  margin: 16px;
}
.follow img{
  width: 28px;
  height: 28px;
}

/* sitemap */
.sitemap{
  padding-bottom: 40px;
  border-bottom:1px gray solid;
}
.sitemap-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  list-style-type: none;
  margin: 0 48px auto;

}
.sitemap-list ul{
  list-style-type: none;
}
.sitemap-list h4{
  display: inline;
}
.sitemap-list li ul li{
  margin: 20px 0;
}
/* privacy */
.privacy{
  margin: 56px auto;
}
.privacy ul{
  display: flex;
  flex-direction: row;
  justify-content: center;  
  list-style-type: none;
  margin: 24px auto;
}
.privacy li{
  font-size: 0.75rem;
  border-right: 1px gray solid;
  padding:0 24px; 
}
footer p{
  margin-left: auto;

}
/* 
@media(max-width:600px){
  .main-nav{
    display: none;
  }
} */