$img-path: "../img";

.concept {
  width: 100%;

  &__main-visual {
    background: url($img-path + "/home_top@2x.png") no-repeat center center;
    background-size: cover;
    height: 744px;

    &--wrapper {
      width: fit-content;
      background-color: #FFF;
      opacity: 0.8;
      position: relative;
      top: 40%;
      padding: 32px;
    }

    &--header {
      display: inline;
      padding-left: 56px;
      text-align: left;
      font-size: 53px;
      line-height: 73px;
      font-weight: normal;
      font-family: Noto Sans;
      letter-spacing: 2.65px;
      color: #918F89;
    }
  }

  &__detail-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 80px 60px;

    // 要素の高さをsub-vidualの背景画像サイズ（560*560）に合わせるための設定
    height: 720px; // height - padding-top/bottom = 560px
  }

  %__detail {
    text-align: left;
    color: #3B3B3B;
    font-weight: normal;
  }

  &__detail {
    @extend %__detail;
    padding: 240px 28px 90px ;

    &--header {
      @extend %__detail;
      font-size: 25px;
      line-height: 53px;
      font-family: Noto Sans;
      letter-spacing: 2.5px;
      padding-bottom: 70px;
    }

    &--text {
      @extend %__detail;
      font-size: 12px;
      line-height: 30px;
      font-family: Noto Sans;
      letter-spacing: 0.36px;
    }
  }

  &__sub-visual {
    background: url($img-path + "/concept@2x.png") no-repeat left center;
    background-size: cover;
    margin: 0 28px;
    padding-left: 50%;
    height: 560px;
  }
}