.page-header {
  width: 100%;
  background-color: white;

  %__nav-text {
    font: normal normal normal 16px/22px Noto Sans;
    color: #3B3B3B;
    list-style-type: none;
  }

  &__wrapper {
    padding: 16px 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo {
    height: 24px;
  }

  &__nav {
    width: 45%;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
  }

  &__nav-text {
    @extend %__nav-text;
    // padding: 0 0 0 56px;

    &--link {
      @extend %__nav-text;
      opacity: 0.7;
      text-decoration: none;  
    }
  }
}