@use 'mixin';

.section {
  color: #3b3b3b;
  text-align: center;
  padding: 0 24px 240px;

  &__header {
    font-size: 24px;
    line-height: 33px;
    font-family: Noto Sans;
    font-weight: normal;
    letter-spacing: 2.4px;
    padding-bottom: 48px;
    @include mixin.sp {
      padding-bottom: 32px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 30px;
    font-family: Noto Sans;
    font-weight: normal;
    letter-spacing: 0.45px;
    padding-bottom: 40px;
  }

  &__link {
    color: #3b3b3b;
    font-size: 18px;
    line-height: 45px;
    font-family: Noto Sans;
    font-weight: normal;
    letter-spacing: 0.9px;
    opacity: 0.3;
    text-decoration: none;
    &::after {
      content: ">";
      font-size: small;
      position: relative;
      top: -2px;
      left: 6px;
    }
    @include mixin.sp {
      opacity: 1;
    }
  }

  &__btn {
    background: #d1d1d1 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    font-family: Noto Sans;
    letter-spacing: 1.8px;
    color: #707070;
    padding: 18px 64px;
    @include mixin.sp {
      padding: 18px 32px;
    }
  }
}
