@use 'mixin';

$img-path: "../img";

.top {
  width: 100%;
  padding-bottom: 160px;

  %__catch {
    background-size: cover;
    padding-top: 38%; //背景画像のアスペクト比(画像の高さ/画像の幅*100)
    min-height: 456px; //背景画像の元の高さ
    box-sizing: border-box;

    @include mixin.sp {
      min-height: 704px; //表示したい画像サイズ
    }
  }

  &__catch {
    @extend %__catch;

    &--news {
      @extend %__catch;
      background: url($img-path + "/news_top@2x.png") no-repeat center center;
    }

    &--recruit {
      @extend %__catch;
      background: url($img-path + "/recruit_top@2x.png") no-repeat center center;
    }

    &--contact {
      @extend %__catch;
      background: url($img-path + "/contact_top@2x.png") no-repeat center center;
      background-position: 85%;
    }
  }

  %__header {
    position: absolute;
    top: 35%;
    left: 15%;
    text-align: left;
    font-size: 30px;
    line-height: 53px;
    font-weight: normal;
    font-family: Noto Sans;
    letter-spacing: 3px;
    @include mixin.sp {
      top: 45%;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
      font-size: 25px;
      letter-spacing: 2.5px;      
    }
  }

  &__header {
    @extend %__header;

    &--news {
      @extend %__header;
      color: #918F89;
    }

    &--recruit {
      @extend %__header;
      color: #918F89;
    }

    &--contact {
      @extend %__header;
      color: #FCFCFC;
    }
  }
}